// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// GLOBAL RESET

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; // inherit from html, set next...
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // so that 1rem = 10 pixels
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];
  // sidebar column of 8rem (80px) wifth, then
  // surround the 8 column grid with 1fr (with a minimum width of 6rem/60px) left and right to fill the remaining space and center the 8 grid column in the viewport, then
  // 8 column grid layout - minimum width of the columns = minimum needed to fit the content, max width = 14rem (140px)
  /* note: if we didn't have the sidebar, then margin: auto 0 would have centered the column as well */
  // Then, the vertical grid lines are named, and
  // in the repeat() we have a named set of columns, with grid-lines named col-start 1, col-end 1, col-start 2, col-end 2, and so on through to 8.

  & > * {
    padding: 40px;
    font-size: 3rem;
  }
}

// in a grid layout the overall focus tends to be on the columns rather than the rows,
// so we tend to name the columns and not the rows

/* 
 row 1: 80vh
 row 2: adapt to the content
 row 3: 40vw
 row 4-6: adapt to the content
 */
